.home-child,
.home-inner,
.home-item {
  position: absolute;
  top: 152px;
  left: -235px;
  border-radius: 50%;
  background-color: var(--color-teal-200);
  filter: blur(400px);
  width: 378px;
  height: 378px;
}
.home-inner,
.home-item {
  top: 648px;
  left: 1731px;
}
.home-inner {
  top: 2223px;
  left: -216px;
}
.get-in-touch-child {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  height: 90px;
}
.get-in-touch1 {
  position: absolute;
  width: calc(100% - 77.9px);
  top: 16px;
  left: 38.9px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.get-in-touch {
  position: absolute;
  width: calc(100% - 148px);
  top: 0;
  right: 148px;
  left: 0;
  height: 90px;
  text-align: left;
  font-size: var(--font-size-45xl);
}
.haritsirawan2118gmailcom {
  position: absolute;
  width: 100%;
  top: 43px;
  left: 0;
  display: inline-block;
}
.email3,
.email4 {
  position: absolute;
  top: 0;
}
.email4 {
  width: calc(100% - 450.4px);
  left: 0;
  color: var(--color-silver);
  display: inline-block;
}
.email3 {
  width: calc(100% - 110.4px);
  right: 0;
  left: 110.4px;
  height: 76px;
}
.vector-icon {
  height: 42.11%;
  width: calc(100% - 615.4px);
  top: 28.95%;
  right: 615.4px;
  bottom: 28.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div,
.email2,
.phone2,
.vector-icon {
  position: absolute;
  left: 0;
}
.email2 {
  width: 100%;
  top: 256px;
  right: 0;
  height: 76px;
}
.div,
.phone2 {
  display: inline-block;
}
.phone2 {
  width: calc(100% - 202.6px);
  top: 0;
}
.div {
  width: 100%;
  top: 43px;
  color: var(--color-white);
}
.phone1,
.vector-icon1 {
  position: absolute;
  width: calc(100% - 110.3px);
  top: 0;
  right: -0.1px;
  left: 110.4px;
  height: 76px;
}
.vector-icon1 {
  height: 56.18%;
  width: calc(100% - 376.1px);
  top: 21.71%;
  right: 377.6px;
  bottom: 22.11%;
  left: -1.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.phone {
  position: absolute;
  width: calc(100% - 236.3px);
  top: 150px;
  right: 236.3px;
  left: 0;
  height: 76px;
  color: var(--color-silver);
}
.bagian-4 {
  position: absolute;
  width: calc(100% - 1252.7px);
  top: 2927px;
  right: 1128px;
  left: 124.7px;
  height: 332px;
}
.graduated-from-jetis {
  position: absolute;
  width: 100%;
  top: 64px;
  left: 0;
  line-height: 173.9%;
  display: inline-block;
  height: 254px;
}
.jetis-public-high {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 173.9%;
}
.jetis-public-high-school-parent {
  position: absolute;
  width: calc(100% - 407.2px);
  top: 0;
  right: 405.8px;
  left: 1.4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
  color: var(--color-teal-100);
}
.high-school {
  position: absolute;
  width: calc(100% - 770.8px);
  top: 554px;
  right: 0;
  left: 770.8px;
  height: 318px;
}
.i-started-my {
  position: absolute;
  width: 100%;
  top: 63px;
  left: 0;
  line-height: 173.9%;
  display: inline-block;
  height: 297px;
}
.now {
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 173.9%;
  color: var(--color-white);
}
.university-of-gadjah-mada-parent {
  position: absolute;
  width: calc(100% - 360.2px);
  top: 0;
  right: 360.2px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
  text-align: left;
  color: var(--color-teal-100);
}
.bagian-3-child,
.university {
  position: absolute;
  width: calc(100% - 770.8px);
  top: 144px;
  right: 770.8px;
  left: 0;
  height: 360px;
}
.bagian-3-child {
  width: calc(100% - 1308.5px);
  top: 89px;
  right: 1308.5px;
  background-color: var(--color-teal-100);
  height: 5px;
}
.my-educational-history {
  position: absolute;
  width: calc(100% - 761.2px);
  top: 0;
  left: 0;
  font-size: var(--font-size-45xl);
  font-weight: 600;
  color: var(--color-white);
  text-align: left;
  display: flex;
  align-items: center;
}
.bagian-3 {
  position: absolute;
  width: calc(100% - 200px);
  top: 1905px;
  right: 100px;
  left: 100px;
  height: 872px;
  color: var(--color-silver);
}
.tools-and-skills {
  position: absolute;
  top: 179px;
  left: 0;
  width: 1100px;
  height: 200px;
}
.tools-and-skills1 {
  position: absolute;
  top: 0;
  left: calc(50% - 250px);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}
.bagian-2 {
  position: absolute;
  top: 1186px;
  left: calc(50% - 543px);
  width: 1100px;
  height: 379px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-45xl);
}
.muhammad-harits-detya,
.software-engineer {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 637px;
}
.muhammad-harits-detya {
  font-size: var(--font-size-51xl);
  font-weight: 600;
  color: var(--color-white);
  width: 900px;
}
.content-child {
  position: relative;
  background-color: var(--color-teal-100);
  width: 300px;
  height: 5px;
}
.someone-who-is {
  position: relative;
  font-size: var(--font-size-15xl);
  line-height: 173.9%;
  text-align: justify;
  display: inline-block;
  width: 900px;
}
.content {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 419px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.instagram-icon,
.linkedln-icon,
.wa-icon {
  position: absolute;
  width: calc(100% - 470.9px);
  top: 6px;
  right: 160.9px;
  left: 310px;
  max-width: 100%;
  overflow: hidden;
  height: 70px;
}
.instagram-icon,
.linkedln-icon {
  right: 80.5px;
  left: 390.4px;
}
.linkedln-icon {
  right: 0;
  left: 470.9px;
}
.find-me-child {
  position: absolute;
  width: calc(100% + 3px);
  top: -1.5px;
  right: -1.5px;
  left: -1.5px;
  border-radius: var(--br-8xs);
  background-color: var(--color-teal-300);
  border: 3px solid var(--color-teal-100);
  box-sizing: border-box;
  height: 85.8px;
}
.find-me-on {
  position: absolute;
  width: calc(100% - 38.6px);
  top: 15.4px;
  left: 19.3px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53.9px;
}
.find-me,
.find-me1 {
  position: absolute;
  width: calc(100% - 317.4px);
  top: 0;
  right: 317.4px;
  left: 0;
  height: 82.8px;
}
.find-me {
  width: calc(100% - 359.1px);
  top: 550px;
  right: 359.1px;
  text-align: center;
  font-size: var(--font-size-15xl);
  color: var(--color-white);
}
.bagian-1 {
  width: calc(100% - 1020px);
  top: 250px;
  right: 920px;
  left: 100px;
  height: 632.8px;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-silver);
}
.about,
.bagian-1,
.harits2 {
  position: absolute;
}
.harits2 {
  top: 32.5px;
  left: 80px;
  line-height: 31px;
}
.about {
  top: 0;
  left: 0;
  height: 96px;
}
.about,
.skills,
.studies {
  width: 19.93%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills {
  position: absolute;
  top: 0;
  left: 26.69%;
  height: 96px;
}
.studies {
  left: 53.38%;
}
.contact,
.dashboard3,
.studies {
  position: absolute;
  top: 0;
  height: 96px;
}
.contact {
  width: 19.93%;
  left: 80.07%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard3 {
  width: 46.25%;
  right: 26.88%;
  left: 26.88%;
  font-size: var(--font-size-7xl);
}
.group-icon {
  position: absolute;
  height: 44.79%;
  width: 2.24%;
  top: 27.6%;
  right: 4.09%;
  bottom: 27.6%;
  left: 93.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dashboard2,
.home {
  width: 100%;
  overflow: hidden;
}
.dashboard2 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  height: 96px;
  text-align: center;
  font-size: var(--font-size-15xl);
}
.home {
  position: relative;
  background-color: var(--color-gray-200);
  height: 3600px;
  text-align: justify;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-league-spartan);
}
