.frame,
.login2 {
  position: absolute;
}
.frame {
  top: 60px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-100);
  width: 1000px;
  height: 490px;
  overflow: hidden;
}
.login2 {
  top: 14px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-teal-100);
  border: none;
  color: white;
  width: 113.8px;
}
.button-login {
  position: absolute;
  top: 430px;
  left: calc(50% - 76px);
  border-radius: var(--br-3xs);
  background-color: var(--color-teal-100);
  width: 153px;
  height: 56px;
  overflow: hidden;
  font-size: var(--font-size-11xl);
}
.password1 {
  position: absolute;
  top: 0;
  left: 37px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 200px;
  height: 70px;
}
.form-control1,
.password,
.username {
  position: absolute;
  top: 290px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  border: none;
  color: white;
  width: 802px;
  height: 70px;
  overflow: hidden;
  text-align: left;
}
.username {
  top: 170px;
}
.register {
  position: absolute;
  top: 2px;
  left: 111px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 177px;
  height: 96px;
}
.login3 {
  top: 0;
  left: 201px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-200);
  width: 400px;
  height: 100px;
  font-size: var(--font-size-21xl);
}
.form-login,
.login1,
.login3 {
  position: absolute;
  overflow: hidden;
}
.login1 {
  top: 0;
  left: 99px;
  width: 802px;
  height: 486px;
}
.form-login {
  top: calc(50% - 273px);
  left: calc(50% - 500px);
  width: 1000px;
  height: 548px;
}
.harits {
  position: absolute;
  margin: 0 !important;
  top: 33px;
  left: 92px;
  font-size: var(--font-size-15xl);
  line-height: 31px;
  z-index: 0;
}
.register1 {
  margin: 0 !important;
  right: 191px;
  justify-content: center;
  width: 177px;
  height: 96px;
  flex-shrink: 0;
  z-index: 1;
}
.dashboard,
.login4,
.register1 {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}
.login4 {
  margin: 0 !important;
  right: 0;
  font-weight: 500;
  justify-content: center;
  width: 177px;
  height: 96px;
  flex-shrink: 0;
  z-index: 2;
}
.dashboard {
  left: 0;
  background-color: var(--color-darkslategray);
  width: 1920px;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-7xl);
}
.login {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 1200px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-league-spartan);
}